<p>
    <mat-toolbar>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
     <img src="/assets/images/logo.jpg" width="80px" height="40px"  alt="">
      <div class="example">
        <span class="links">Flight</span>
        <span class="links">Trains</span>
        <span class="links">Buses</span>
        <span class="links">Hotel</span>
      </div>
      <div class="example">
        <span class="links">Flight</span>
        <span class="links">Trains</span>
        <span class="links">Buses</span>
        <span class="links">Hotel</span>
      </div>
    
    </mat-toolbar>
  </p>
