<mat-toolbar class="fixed-header">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
    <img id="logo" src="/assets/images/logo.jpg" width="80px" height="40px" alt="">
    
    <div class="example1">
        <span class="links"><i class="far fa-plane-departure"></i> Flight</span>
        <span class="links "> <i class="fas fa-train" aria-hidden="true"></i> Trains</span>
        <span class="links"><i class="fas fa-bus-alt"></i> Buses</span>
        <span class="links"> <i class="far fa-hotel"></i> Hotel</span>
    </div>
    <div class="example2">
        <span class="links"> <i class="fal fa-badge-percent"></i> Offers</span>
        <span class="links"> <i class="fal fa-user-headset"></i> Customer Service</span>
        <span class="links"><i class="far fa-user"></i>Login/Signup</span>
    </div>

</mat-toolbar>