<section>
    <div class="bcimg" [ngStyle]="{'background-image':'url('+photo+')'}">
        <div class="header">
            <h1>gdgfdg</h1>
        </div>
        <div class="form">
            <mat-card>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Form</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <span id="repeat"><i class="fad fa-repeat-alt"></i></span>
                    <mat-form-field class="example-full-width">
                        <mat-label>To</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Depature</mat-label>
                        <input matInput type="date">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Return</mat-label>
                        <input matInput type="date">
                    </mat-form-field>
                    <!-- <mat-form-field class="example-full-width">
                        <mat-label>Travellers|Class</mat-label>
                        <input matInput>
                    </mat-form-field> -->
                    <button mat-raised-button class="btn"  color="warn">Search</button>
                </form>

            </mat-card>
        </div>
    </div>
</section>
<div class="section2">
    <h1>cbfn</h1>
    <h1>cbfn</h1>
    <h1>cbfn</h1>
    <h1>cbfn</h1>
    <h1>cbfn</h1>
    <h1>cbfn</h1>
    <h1>cbfn</h1>
    <h1>cbfn</h1>
    <h1>cbfn</h1>
</div>